<!-- This route is deactivated for now

<h2> My shelves </h2>

<% if policy(Shelf).create? %>
  <%= link_to 'Create shelf', new_shelf_path(space: @space) %>
<% end %>

<ul>
  <% current_user.shelves.each do |shelf| %>
    <% if policy(shelf).show? %>
      <li><%= link_to shelf.name, shelf_path(shelf) %></li>
    <% end %>
  <% end %>
</ul>

-->
