<ul>
  <% @shelf.spaces.each do |space| %>
    <li>
      <% if policy(space).show? %>
        <%= link_to space.name, space_path(space, shelf_id: @shelf.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
<ul>
  <% @shelf.items.each do |item| %>
    <li>
      <% if policy(item).show? %>
        <%= link_to item.name, item_path(item, shelf_id: @shelf.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
