<h2> Spaces </h2>

<% if policy(Space).create? %>
  <%= link_to 'Create space', new_space_path(shelf_id: @shelf.id) %>
<% end %>

<ul>
  <% @shelf.spaces.each do |space| %>
    <li>
      <% if policy(space).show? %>
        <%= link_to space.name, space_path(space, shelf_id: @shelf.id) %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2> Items </h2>

<% if policy(Item).create? %>
  <%= link_to 'Create item', new_item_path(shelf_id: @shelf.id) %>
<% end %>

<ul>
  <% @shelf.items.each do |item| %>
    <li>
      <% if policy(item).show? %>
        <%= link_to item.name, item_path(item, shelf_id: @shelf.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
