<div class="navbar" id="navshow">
    <%= link_to('shelf', root_path, class: 'logo') %>
</div>

<div class="meet-shelf-bot-ctn"> <!-- sign-up ctn refact -->
  <h2 class="meet-shelf-bot">Meet Shelf Bot 🤖</h2>
  <p class="benefit-dsc">Shelf Bot 🤖 lets you add resources from mobile by hitting Share > Telegram > Shelf Bot.</p>
  <%= image_tag "share_telegram.png", class: 'share-telegram-img'  %>
  <button class="sign-up-cta">Nice to meet you, Bot 🤖</button>
</div>
