<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large; color: black;">
      <p>id: <%= @space.id %></p>
      <p>name: <%= @space.name %></p>
    </div>
  </body>
</html>
