<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large;">
                <p>
                  Open Shelf's Chrome Extension on the Chrome Store by clicking <a href="https://chrome.google.com/webstore/detail/shelf/dbnfpkfeedjlicclaffhoglpmgpdjblk?hl=en&authuser=0">here</a>
                </p>
                <%= image_tag('chrome_ext.png', height: '320') %>
                <p>
                  💻 Saving URLs from the web is painful - especially when you want to save multiple URLs at the same time. We've all been there: dozens of tabs open, with plenty of valuable resources. If you quit your browser, you lose it all - but if you keep them open, it slows you down.
                </p>
                <p>
                  📚 Shelf's browser extension lets you easily save URLs to your Shelf. Each URL is immediately added to a dedicated space on your Shelf, where you can later revisit resources and prioritize them, move them to the right space, and annotate them to retain key insights.
                </p>
                <p>
                  ⌨️ You can optimize your workflow by using the following shortcuts: Cmd + I to open the extension, Cmd + J to save the resource to your shelf, and Cmd + K to open it on your shelf. To save multiple tabs in a row, simply repeat this process and combine it with Cmd + W to close a tab and Cmd + Alt + Arrows to switch tabs. If you are a PC user, please use Ctrl instead of Cmd!
                </p>
                <p>
                  This first version of the extension is minimalist - let us know which features you would like to see next by replying to this email! 👋
                </p>
                <p>
                  PS. To support Shelf, you can leave a ⭐️⭐️⭐️⭐️⭐️ rating on the Chrome Store!
                </p>
    </div>
  </body>
</html>

