<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Helvetica;">
      <h1>Welcome to Shelf, <%= @user.first_name %> - Louis here! 🎊🎉🥂</h1>
      <h1>If you did not receive our SMS, please open the following link from mobile to connect with Shelf Telegram Bot</h1>
      <h1><a href="https://t.me/Shelf_bot?start=<%= @user.telegram_hash %>">https://t.me/Shelf_bot?start=<%= @user.telegram_hash %></a></h1>
      <h1>Once in Telegram, simply hit 'Start'</h1>
      <h1>That's it - you can now send resources from mobile to your Shelf!<br>Can't wait to see your first resource - let me know how the onboarding goes!
  <br>Happy learning 🧠<br>Louis</h1>
    </div>
  </body>
</html>



