Welcome to Shelf, <%= @user.first_name %> - Louis here! 🎊🎉🥂

If you did not receive our SMS, please open the following link from mobile to connect with Shelf Telegram Bot</h1>

https://t.me/Shelf_bot?start=<%= @user.telegram_hash %>

Once in Telegram, simply hit 'Start'

That's it - you can now send resources from mobile to your Shelf!
Can't wait to see your first resource - let me know how the onboarding goes!
Happy learning 🧠
Louis
