<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large;">
      <p>Welcome to Shelf, <%= @user.username %> - Louis here! 🎊🎉🥂</p>
      <br>
      <p>You can add your first resource to your shelf by heading to your shelf, clicking on 'Options' in the top right corner and pasting a URL.</p>
      <br>
      <p>You can also install Shelf's Chrome Extension or connect with Shelf's Telegram Bot to add resources from desktop or mobile by clicking on '🤖 Connect'.</p>
      <br>
      <p>Please let me know if you have any questions!</p>
      <br>
      <p>Happy learning 🧠</p>
    </div>
  </body>
</html>



