<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large;">
      <p>Welcome to Shelf, <%= @user.username %> 🎊🎉🥂</p>
      <br>
      <p>You can add your first resource to your shelf by clicking on 'New item' in the top right and pasting a URL.</p>
      <br>
      <p>You can also add resources using Shelf's Telegram Bot on mobile or Chrome Extension on desktop by clicking on 'Options' in the bottom right.</p>
      <br>
      <p>You currently have 60 minutes of free audio. You can buy more audio credits by accessing your wallet in the 'Options' menu.</p>
      <br>
      <p>Let me know if you have any feedback by replying directly to this email!</p>
      <p>Thanks!</p>
    </div>
  </body>
</html>



