<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large;">
      <p>Hey <%= @user.first_name %>,</p>
      <p>If you did not receive our SMS, please open the following link from mobile to connect with Shelf Telegram Bot:</p>
      <p><a href="https://t.me/Shelf_bot?start=<%= @user.telegram_hash %>">https://t.me/Shelf_bot?start=<%= @user.telegram_hash %></a></p>
      <p>Once in Telegram, simply hit 'Start'</p>
      <p>That's it - you can now send resources from mobile to your Shelf!<br>Can't wait to see your first resource - let me know how the onboarding goes!
  <br>Happy learning 🧠<br>Louis</p>
    </div>
  </body>
</html>
