<div class="navbar" id="navshow">
    <%= link_to('shelf', root_path, class: 'logo') %>
</div>

<div class="meet-shelf-bot-ctn">
  <h2 class="meet-shelf-bot">Meet Shelf Bot 🤖</h2>
  <p class="benefit-dsc">Shelf Bot 🤖 lets you add resources from mobile by hitting Share > Telegram > Shelf Bot.</p>
<!--   <%= image_tag "share_telegram.png", class: 'share-telegram-img'  %> -->
  <%= video_tag "testexport.mp4", autoplay: true, loop: true, muted: 'muted', class: 'share-telegram-img' %>
  <%= link_to 'Nice to meet you, Bot 🤖', shake_hands_path, class: "sign-up-cta"%>
</div>
