<!-- navbar -->
<div class="navbar" id="navshow">
  <p class="logo">shelf</p>
  <p class="login">Login</p>
</div>

<!-- main -->
<div>
  <div class="lp-1">
    <p class="tagline">Save, organize and annotate your <span style="white-space:nowrap;">resources 📚</span></p>
<!--     <div>button</div> -->
<!--     <div>
      <div>emoji</div>
      <div>emoji</div>
    </div> -->
  </div>

</div>

  <div></div>
  <div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div>

  </div>
<!--   tbr 3x -->

