<!-- navbar -->
<div class="navbar" id="navshow">
  <p class="logo">shelf</p>
  <p class="login">Login</p>
</div>

<div>
  <div class="lp-1">
    <p class="tagline">Save, organize and annotate your <span style="white-space:nowrap;">resources 📚</span></p>
    <a class="lp-cta">Try it now</a>
<!--<div>
      <div>emoji</div>
      <div>emoji</div>
    </div> -->
  </div>
</div>

<section class="lp-section">
  <div class="frame">
<!--     add video here -->
  </div>
</section>

<section class="lp-section">
  <h1 class="benefit"> 1. <u>Save</u> your podcasts 🎙</h1>
  <h2 class="benefit-dsc"> Send resources from mobile to your shelf using Shelf’s Telegram Bot 🤖. </h2>
  <div class="frame">
<!--     add video here -->
  </div>
</section>
