<!-- navbar -->
<div class="navbar" id="navshow">
  <p class="logo">shelf</p>
  <p class="login">Login</p>
</div>

<!-- main -->
<div>
  <p class="tagline">Save, organize and annotate resources 📚</p>
  <div id="try-it-now-btn">Try it now</div>
  <div></div>
  <div>
    <div>
    </div>
    <div>
    </div>
  </div>
  <div>

  </div>
<!--   tbr 3x -->
</div>
