<div class="navbar" id="navshow">
    <%= link_to('shelf', root_path, class: 'logo') %>
</div>

<div class="meet-shelf-bot-ctn"> <!-- sign-up ctn refact -->
  <h2 class="meet-shelf-bot" id="add-first-resource">Now, let's send a resource to the Bot! 📚</h2>
  <p class="benefit-dsc">Now that Shelf Bot knows who you are, find a resource you like from your phone (a podcast, news article, video...) and hit Share > Telegram > Shelf.</p>
  <%= video_tag "testexport.mp4", autoplay: true, loop: true, muted: 'muted', playsinline: true, class: 'share-telegram' %>
  <%= link_to 'Done', shelf_path(@user.shelves.first.username), class: "sign-up-cta"%>
</div>
