// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials

body {
  background-color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

// logo

.logo {
  color:inherit;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 245%;
  font-weight: 900;
}

// buttons

.add-btn {
    color: #202020;
    border: 2px solid #202020;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: lighter;
    font-weight: 400;
    background-color: white;
}

.add-btn:hover
{
     color:white;
     background-color: #202020;
}

.btns {
  display: flex;
  gap: 12px;
}

// navbar le wag

.navbar-lewagon {
  // justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  padding: 1.5rem 4rem;
}

// container

.grid-container {
    flex-grow: 1;
    display: grid;
    row-gap: 50px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 12px;
    grid-gap: 100px;
}

@media(min-width: 1200px) {
  .grid-container {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media(max-width: 1200px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
    margin-right: 250px;
    margin-left: 250px;
  }
}

@media(max-width: 992px) {
  .grid-container {
    grid-template-columns: auto auto auto;
    margin-right: 250px;
    margin-left: 250px;
  }
}

@media(max-width: 768px) {
  .grid-container {
    grid-template-columns: auto auto;
    margin-right: 250px;
    margin-left: 250px;
  }
}

@media(max-width: 576px) {
  .grid-container {
    grid-template-columns: auto;
    margin-right: 250px;
    margin-left: 250px;
  }
}

// object
.object{
  display: grid;
}

.object a {
  text-align: center;
}

.object_name {
  color: black;
  font-family: Charter;
  color: inherit;;
  margin-top: 12px;
  font-size: 17px;
  height: 22px;
}

a:hover
{
     color:black;
     text-decoration:none;
     cursor:pointer;
}

// rotating plus in navbar

.fa-rotate-45 {
    transform: rotate(45deg);
}


// adding a space
// question
.question {
  text-align: center;
  margin-top: 60px;
  font-family: Charter;
  font-size: xx-large;
  font-weight: 500;
}


// text input in form for space
input[type="text"].form-control, input[type="text"]:focus, input[type="text"].form-control:focus, input[type="url"].form-control, input[type="url"]:focus, input[type="url"].form-control:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    font-family: Charter;
    color: black;
    font-size: 27px;
    text-align: center;
}

// form validation button
.buttonHolder {
  text-align: center;
  margin-top: 45px;
}

.inp {
  margin-top: 20px;
}

.inp-txt {
  margin-top: 35px;
}

// styling radio buttons for adding item form for steps with buttons
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label, .update-btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  color: #282828;
  border: 2px solid #000000;
  border-radius: 50px; /* 50rem; ? */
  font-weight: lighter;
  font-weight: 400;
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}

.update-btn {
  padding: 6px 20px;
  border-radius: 90px; /* 50rem; ? */
}

.select-btn + label {
  width: 100%;
}

.tag-selector:checked + label {
  background-color: #282828;
  color: white;
}

.choices {
  text-align: center;
}

// hiding labels

legend {
   color: transparent;
}


// msg for "Your shelf is empty" when the user creates shelf
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.msg {
    position: relative;
    font-family: Charter;
    color: black;
    font-size: 180%;
    font-weight: 500;
}

// prevent fontawesome icon from becoming blue when making it a link

a {
  color:inherit;
}

// now focusing on the item show

// container for the title

.item-title, .space-title {
  font-family: Charter;
  font-size: xx-large;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 8px;
}


// navbar

#navshow {
  align-items: start;
}

.buttons-ctn-show {
  display: flex;
  margin-left: auto;
}

.buttons-ctn-item-show {
  padding-top: 16px;
}


// creating a div for update buttons
.update-btns {
  margin-left: 140px;
  margin-top: 20px;
}

.active-btn {
    color:white !important;
    background-color: #282828 !important;
    width: 163px;
}

// creating a container for the buttons on item show
.buttons-ctn {
    display: table;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    position: absolute;
    z-index: 10;
}

// creating a div containing the filter boxes
.filter-boxes {
  display: flex;
  margin-left: 127px;
  margin-top: 8px;
}

#opts-rank {
  margin-left: 178px;
}

// removing focuss effect on radio buttons

button {
 outline: none !important;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;
}

// overriding bootstrap css for options box on item show

.col-form-label {
  padding-bottom: 0px;
}

.form-group {
    margin-bottom: 10px;
}

// overriding bootstrap form styling

.form-control.is-valid {
  padding-right: 0px;
  background-image: none;
}

#txt-area {
  text-align: left;
}

.notes {
  margin-left: 130px;
}

// remove styling textarea

textarea {
    border: none !important;
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    resize: none !important; /*remove the resize handle on the bottom right*/
}


.txt-area {
  font-family: Charter;
  font-size: x-large;
  color: #404040;
}

// overriding bootstrap for text input color
.form-control:focus {
    color: #404040;
}

.item-notes {
  font-family: Charter;
  font-size: xx-large;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 8px;
}

// styling txt area on item add form

#txt-area-add {
  margin-top: 40px;
  margin-left: 200px;
}

// styling the title of the space on top of the space show

.space-title {
  position: absolute;
  margin-left: 120px;
  font-weight: 600;
}

// positioning the options button on item show

.options {
  margin-left: auto;
  margin-right: 50px;
  height: 32px;
  width: 32px;
}

#options.item-options {
  margin-top: 20px;
}

.options-ctn {
    // margin-left: 1660px;
    position: absolute;
    top: 70px;
    right: 45px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    z-index: 10;
    display: grid;
    grid-gap: 3px;
    padding: 11px 17px 11px 17px;
}

.option {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
  margin-left: 10px;
}

#leave-shelf {
  margin-left: 0px;
}

.rotated img {
  transform: rotate(45deg);
}

// creating grey circle to design hover effect

.grey-circle {
  height: 32px;
  width: 32px;
  background-color: #E0E0E0;
  border-radius: 50%;
  display: inline-block;
}

.indicator {
  position: absolute;
  top: 70px;
  right: 100px;
  color: white;
  font-weight: 400;
  background-color: #C0C0C0 ;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
}

// adding a new class on the hover indicator (actions, here add) to slightly position it differently
.add {
  top: 54px;
  right: 70px;
}

.add-option {
  margin-left: 0px; // removig the margin left that I introduced for the icon pics (now using emojis: margin no longer useful)
}

.options-show {
  right: 145px;
  top: 54px;
}

.options-ctn-shelf-space {
  top: 85px !important;
  text-align: center;
}

#add-options{
  margin-right: 85px;
}

#add-url {
  width: 455px;
}

#add-url-prompt {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#move-to-list {
    max-height: 550px;
    overflow:auto;
}

// styling the add-url ctn

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.txt-inpt {
  border: 0;
  width: 100%;
}

input[type=text]:focus {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
}

input[type=text] {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
}

.prompt {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

// styling filters

// styling status buttons

.filter-options-ctn {
    position: absolute;
    width: 190px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 10;
    margin-left: 225px;
    top: 95px;
}

.filter-btn {
  margin: 8px;
  padding: 5px 10px;
  width: 150px;
  color: #282828;
  border: 2px solid #000000;
  border-radius: 50px; /* 50rem; ? */
  font-weight: lighter;
  font-weight: 400;
  background-color: white;
}

// styling the container of the filter buttons

.filter-options {
  margin-left: 85px;
}

#move-to-list {
  width: 300px;
}

#move-to-button {
    color: #202020;
    border: 1px solid #686868;
    padding: 3px;
    width: 250px;
    border-radius: 50px;
    background-color: white;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#move-to-button:hover
{
     color:white;
     background-color: #202020;
}

#top-line {
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
}

#top-element {
  margin-bottom: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #686868;
    margin: 1em 0;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#button-new-space-parent {
  display: flex;
}

#new-space-txt {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #C4C4C4;
  font-weight: 400;
  margin-left: 10px;
}

#grey-plus-img {
  margin-left: 10px;
  margin-top: 4px;
}

#new-space-txt:hover {
  text-decoration: underline;
  cursor: pointer;
}

#grey-plus-img:hover {
  cursor: pointer;
}

#left-arrow-img:hover {
  cursor: pointer;
}
