// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials

body {
  background-color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

// logo

.logo {
  color:inherit;
  text-decoration: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 31px;
  font-weight: 900;
  max-height: 15px;
  padding: 0px;
  margin-bottom: 45px;
}

// buttons

.add-btn {
    color: #202020;
    border: 2px solid #202020;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: lighter;
    font-weight: 400;
    background-color: white;
}

.add-btn:hover, #login-btn:hover
{
     color:white;
     background-color: #202020;
}

.btns {
  display: flex;
  gap: 12px;
}

// navbar le wag

.navbar {
  padding: 1.5rem 4.5rem;
}

// container

.object-picture {
  width: 50%; // 100px
}

.grid-container {
    // flex-grow: 1;
    grid-auto-flow: dense;
    display: grid;
    margin-top: 0.5rem;
    grid-row-gap: 4.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 3%;
    margin-left: 13%;
    margin-right: 13%;
}


// object
.object{
  display: grid;
  max-width: 200px;
}

.object a {
  text-align: center;
}

.object_name {
  color: black;
  font-family: Charter;
  color: inherit;;
  margin-top: 12px;
  font-size: 17px;
  height: 22px;
}

a:hover
{
     color:black;
     text-decoration:none;
     cursor:pointer;
}

// rotating plus in navbar

.fa-rotate-45 {
    transform: rotate(45deg);
}


// adding a space
// question
.question {
  text-align: center;
  margin-top: 60px;
  font-family: Charter;
  font-size: xx-large;
  font-weight: 500;
}


// text input in form for space
input[type="text"].form-control, input[type="text"]:focus, input[type="text"].form-control:focus, input[type="url"].form-control, input[type="url"]:focus, input[type="url"].form-control:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    font-family: Charter;
    color: black;
    font-size: 27px;
    text-align: center;
}

// form validation button
.buttonHolder {
  text-align: center;
  margin-top: 45px;
}

.inp {
  margin-top: 20px;
}

.inp-txt {
  margin-top: 35px;
}

// styling radio buttons for adding item form for steps with buttons
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label, .update-btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  color: #282828;
  border: 2px solid #000000;
  border-radius: 50px; /* 50rem; ? */
  font-weight: lighter;
  font-weight: 400;
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}

.update-btn {
  padding: 6px 20px;
  border-radius: 90px; /* 50rem; ? */
}

.select-btn + label {
  width: 100%;
}

.tag-selector:checked + label {
  background-color: #282828;
  color: white;
}

.choices {
  text-align: center;
}

// hiding labels

legend {
   color: transparent;
}


// msg for "Your shelf is empty" when the user creates shelf
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.msg {
    position: relative;
    font-family: Charter;
    color: black;
    font-size: 180%;
    font-weight: 500;
}

// prevent fontawesome icon from becoming blue when making it a link

a {
  color:inherit;
}

// now focusing on the item show

.main-container {
  width: 80%;
  margin: auto;
  margin-top: 1%
}

// container for the title

.item-title {
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item-title, .space-title, .user-id {
  font-family: Charter;
  font-size: xx-large;
  font-weight: 600;
}


// navbar

#navshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}

.buttons-ctn-space-show {
  display: flex;
}

.buttons-ctn-shelf-show {
  display: flex;
  margin-left: auto;
}

.buttons-ctn-item-show {
  padding-top: 16px;
}


// creating a div for update buttons
.update-btns {
  margin-left: 140px;
  margin-top: 20px;
}

.active-btn {
    color:white !important;
    background-color: #282828 !important;
    width: 163px;
}

// creating a container for the buttons on item show
.buttons-ctn {
    display: table;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    position: absolute;
    z-index: 10;
}

// creating a div containing the filter boxes
.filter-boxes {
  display: flex;
  margin-left: 127px;
  margin-top: 8px;
}

#opts-rank {
  margin-left: 178px;
}

// removing focuss effect on radio buttons

button {
 outline: none !important;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;
}

// overriding bootstrap css for options box on item show

.col-form-label {
  padding-bottom: 0px;
}

.form-group {
    margin-bottom: 10px;
}

// overriding bootstrap form styling

.form-control.is-valid {
  padding-right: 0px;
  background-image: none;
}

#txt-area {
  text-align: left;
  padding-left: 0px;
}

textarea::-webkit-input-placeholder {
  color:  #D3D3D3 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color:  #D3D3D3 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color:  #D3D3D3 !important;
}

textarea:-ms-input-placeholder {
  color:  #D3D3D3 !important;
}

textarea::placeholder {
  color:  #D3D3D3 !important;
}

.notes {
  margin-top: 35px;
}

// remove styling textarea


textarea {
    border: none !important;
    overflow: auto !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    resize: none !important; /*remove the resize handle on the bottom right*/
}

.txt-area {
  font-family: Charter;
  font-size: x-large;
  color: #404040;
}

// overriding bootstrap for text input color
.form-control:focus {
    color: #404040;
}

.item-notes {
  font-family: Charter;
  font-size: xx-large;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 8px;
}

// styling txt area on item add form

#txt-area-add {
  margin-top: 40px;
  margin-left: 200px;
}

// styling the title of the space on top of the space show

.space-title {
  max-height: 50px;
  // max-width: 200px;
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// positioning the options button on item show

.options {
  margin-left: auto;
  margin-right: 38px;
  height: 32px;
  width: 32px;
}

.options-ctn {
    // margin-left: 1660px;
    position: absolute;
    top: 9%;
    right: 2%;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    z-index: 10;
    display: grid;
    grid-gap: 3px;
    padding: 11px 17px 11px 17px;
}

.option {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
  margin-left: 10px;
}

.option-label {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
  margin-left: 10px;
}

.option-ctn {
  display: flex;
}

.rotated img {
  transform: rotate(45deg);
}

// creating grey circle to design hover effect

.grey-circle {
  height: 32px;
  width: 32px;
  background-color: #E0E0E0;
  border-radius: 50%;
  display: inline-block;
}

.indicator {
  position: absolute;
  top: 70px;
  right: 100px;
  color: white;
  font-weight: 400;
  background-color: #C0C0C0 ;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
}

// adding a new class on the hover indicator (actions, here add) to slightly position it differently
.add {
  top: 54px;
  right: 70px;
}

.add-option {
  margin-left: 0px; // removig the margin left that I introduced for the icon pics (now using emojis: margin no longer useful)
}

.options-show {
  right: 145px;
  top: 54px;
}

.options-ctn-shelf-space {
  top: 85px !important;
  text-align: center;
}

#add-url {
  width: 455px;
}

#add-url-prompt {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#move-to-list {
    overflow:auto;
}

// styling the add-url ctn

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.txt-inpt {
  border: 0;
  width: 100%;
}

input[type=text]:focus {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
}

input[type=text] {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #282828;
  font-weight: 400;
}

.prompt {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

// styling filters

// styling status buttons

.filter-options-ctn {
    position: absolute;
    width: 190px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 10;
    margin-left: 225px;
    top: 95px;
}

.filter-btn {
  margin: 8px;
  padding: 5px 10px;
  width: 150px;
  color: #282828;
  border: 2px solid #000000;
  border-radius: 50px; /* 50rem; ? */
  font-weight: lighter;
  font-weight: 400;
  background-color: white;
}

// styling the container of the filter buttons

.filter-options {
  margin-left: 85px;
}

#move-to-list {
  width: 300px;
}

#move-to-button {
    color: #202020;
    border: 1px solid #686868;
    padding: 3px;
    width: 250px;
    border-radius: 50px;
    background-color: white;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#move-to-button:hover
{
     color:white;
     background-color: #202020;
}

#top-line {
  display: flex;
  margin-bottom: 0px;
  margin-left: 10px;
}

#top-element {
  margin-bottom: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #686868;
    margin: 1em 0;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#button-new-space-parent {
  display: flex;
}

#new-space-txt {
  font-family: "Helvetica Neue";
  font-size: larger;
  color: #C4C4C4;
  font-weight: 400;
  margin-left: 10px;
}

#grey-plus-img {
  margin-left: 10px;
  margin-top: 4px;
}

#new-space-txt:hover {
  text-decoration: underline;
  cursor: pointer;
}

#grey-plus-img:hover {
  cursor: pointer;
}

#left-arrow-img:hover {
  cursor: pointer;
}

#user-id-ctn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
}

.user-id {
  margin-left: 1em;
  // max-height: 50px;
  // max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#login-btn {
    color: #202020;
    border: 2px solid #202020;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: lighter;
    font-weight: 400;
    background-color: white;
}

// Landing page

:root {
    --h1: 50px;
}

.login {
  font-weight: 500;
  font-size: 22px;
}

.tagline {
  text-align: center;
  font-family: Charter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--h1);
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  min-height: 150px;
}

.lp-1 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 13%;
    position: relative;
    max-width: 66%;
    margin: 0 auto;
    text-align: center;
}

.lp-cta {
    margin-top: 40px;
    background: #000000;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 40px;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    border: 0;
    cursor: pointer;
}

.lp-cta:hover, .log-in-cta:hover {
  color: white !important;
}

.lp-section-benefit {
    max-width: 1204px;
    margin: 0 auto;
    padding: 32px 32px 150px 32px;
}

.frame {
    position: relative;
    padding-bottom: 56.81818181818182%;
    overflow: hidden;
    border: 3px solid #2c2c2c;
    border-radius: 8px;
}

.benefit {
  font-family: Charter;
  font-size: calc(var(--h1)*0.66);
  font-weight: 600;
  padding-bottom: 13px
}

.benefit-dsc {
  font-family: Charter;
  font-size: calc(var(--h1)*0.55);
  color: #404040;
  padding-bottom: 13px;
  line-height: 1.3;
}

.lp-section-testimonial {
    padding: 40px 32px 180px;
}

.testimonial-ctn {
    display: grid;
    grid-template-columns: 200px minmax(auto,568px);
    gap: 48px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.testimonial-picture {
    object-position: 50.00% 50.00%;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 200px;
}

.testimonial-txt {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.testimonial-quote {
    font-size: calc(2*var(--h1)/3);
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-family: Charter;
}

.testimonial-signature {
    font-size: calc(var(--h1)/2);
    line-height: 1.3;
    -webkit-letter-spacing: 0.01em;
    -moz-letter-spacing: 0.01em;
    -ms-letter-spacing: 0.01em;
    letter-spacing: 0.01em;
    margin-top: 24px;
    font-family: Charter;
    color: #404040;
}

.footer {
  font-family: Charter;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

// Login page

.log-in-ctn {
    margin: 0px auto;
    padding-top: 10vh;
    padding-bottom: 80px;
    width: 422px;
    max-width: 100%;
    text-align: center;
}

.form-control {
  display: inline;
  border-right : 0px;
  border-left : 0px;
  border-top : 0px;
  border-bottom: 2.5px solid black;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-inputs {
  font-family: Charter;
  color: black;
}

#user_email::placeholder, #user_password::placeholder  {
  color: #DCDCDC;
}

#user_email, #user_password {
  width: 65% !important;
}

.form-control:focus {
  border-color: black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px black;
}

.welcome-back {
  text-align: center;
  font-family: Charter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--h1);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}


.log-in-cta {
    margin-top: 10vh;
    background: #000000;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 40px;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    border: 0;
    cursor: pointer;
}

.expand{
  position:relative;
  text-decoration:none;
  display:inline-block;
}
.expand:after {
  display:block;
  content: '';
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
.expand:hover:after {
  transform: scaleX(1);
  transform-origin:0 50%;
}


// Media

@media(max-width: 1050px) {
  :root {
      --h1: 40px;
  }
  .lp-1 {
    max-width: 80% !important;
  }
  .tagline {
    max-width: 530px;
    min-height: 120px;
  }
}

@media(max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media(max-width: 857px) {
  .object_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    margin-left: 9%;
    margin-right: 9%;
  }
}

@media(max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width: 670px) {
  .testimonial-picture{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100px;
  }
  .testimonial-ctn {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  :root {
      --h1: 37px;
  }
  .tagline {
    max-width: 489px;
    min-height: 120px;
  }
}

@media(max-width: 610px) {
  .tagline {
    max-width: 489px;
    min-height: 165px;
  }
}

@media(max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media(max-width: 500px) {
  .navbar {
      padding: 1.5rem 2rem;
  }
}

@media(max-width: 450px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    margin-left: 2%;
    margin-right: 2%;
    grid-row-gap: 3rem;
  }
  .object-picture {
    width: 60%; // 100px
  }
  :root {
      --h1: 34px;
  }
  .lp-1 {
      max-width: 85% !important;
  }
}

@media(max-width: 365px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    margin-left: 1%;
    margin-right: 1%;
    grid-row-gap: 2.5rem;
  }
  .object-picture {
    width: 70%; // 100px
  }
  :root {
      --h1: 30px;
  }
  .lp-1 {
    max-width: 90% !important;
  }
}
